main div :nth-child(2){
    display: flex;
    justify-content: center;
}

main div div img{
    width: 33vw;
    height: auto;
}

@media screen and (min-width:375) {
    main div div img{
        width: 33vw;
        height: auto;
    }
}