main>div div{
    display: flex;
}

.folio_pic{
    height: 20vw;
    width: auto;
}
@media screen and (min-width:375px) {
    
    .folio_pic{
        height: 33vw;
        width: auto;
    }

    main>div div{
        display: flex;
        flex-direction: column;
    }
}